DB_NAME=<str>               # Database name, e.g., "my_database"
DB_USER=<str>               # Database username, e.g., "admin"
DB_PASSWORD=<str>           # Database password, e.g., "password123"
DB_PORT=<str>               # Database port, e.g., "5432"
DB_HOST=<str>               # Database host, e.g., "localhost" or "db.example.com"
AIRFLOW_VERSION=<str>       # Airflow version, e.g., "slim-3.2.2-python3.13"
AIRFLOW_USERNAME=<str>      # Airflow admin username, e.g., "admin"
AIRFLOW_PASSWORD=<str>      # Airflow admin password, e.g., "password123"
AIRFLOW_USER_EMAIL=<str>    # Airflow admin email, e.g., "admin@example.com"